@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		-webkit-tap-highlight-color: transparent;
	}

	::-webkit-scrollbar {
		@apply bg-white dark:bg-slate-800 w-4;
	}

	::-webkit-scrollbar-thumb {
		border: 4px solid transparent;
		@apply bg-blue-500 rounded-full bg-clip-content;
	}

	@font-face {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local('Gilroy'), url('/fonts/Gilroy-Regular.woff2') format('woff2'),
			url('/fonts/Gilroy-Regular.woff') format('woff'),
			url('/fonts/Gilroy-Regular.ttf') format('ttf'),
			url('/fonts/Gilroy-Regular.eot') format('eot');
	}

	@font-face {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: local('Gilroy'), url('/fonts/Gilroy-Semibold.woff2') format('woff2'),
			url('/fonts/Gilroy-Semibold.woff') format('woff'),
			url('/fonts/Gilroy-Semibold.ttf') format('ttf'),
			url('/fonts/Gilroy-Semibold.eot') format('eot');
	}

	@font-face {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: local('Gilroy'), url('/fonts/Gilroy-Bold.woff2') format('woff2'),
			url('/fonts/Gilroy-Bold.woff') format('woff'),
			url('/fonts/Gilroy-Bold.ttf') format('ttf'),
			url('/fonts/Gilroy-Bold.eot') format('eot');
	}

	@font-face {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: local('Gilroy'), url('/fonts/Gilroy-Black.woff2') format('woff2'),
			url('/fonts/Gilroy-Black.woff') format('woff'),
			url('/fonts/Gilroy-Black.ttf') format('ttf'),
			url('/fonts/Gilroy-Black.eot') format('eot');
	}
}
